# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.env
.venv
venv/
ENV/
env/

# Python Poetry
poetry.lock
# (залишаємо pyproject.toml для встановлення залежностей)

# OS / Editor specific
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Log / temp files
*.log
*.tmp

# Compiled files
*.so
*.egg-info
build/
dist/

# Personal data
addressbook.pkl
