{% extends 'quotes/base.html' %}
{% block title %}Список цитат{% endblock %}
{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-4">Список цитат</h1>

    {% if quotes %}
        {% for quote in quotes %}
        <div class="bg-white shadow-md rounded-lg p-6 mb-4">
            <p class="text-xl italic mb-2">"{{ quote.text }}"</p>
            <p class="text-gray-600 text-right font-medium">-- <a href="{% url 'quotes:author_quotes' quote.author.id %}" class="text-blue-500 hover:underline">{{ quote.author.fullname }}</a></p>
        </div>
        {% endfor %}
    {% else %}
        <p class="text-gray-500">Наразі цитати відсутні.</p>
    {% endif %}
</div>
{% endblock %}
