<!-- quotes_app/base.html -->
{% load static %}
Головна Додати Автора Додати Цитату

<!--{% if user.is_authenticated %}-->
<!--    <p>Hello, {{ user.username }}! <a href="{% url 'users:logout' %}">Log out</a></p>-->
<!--{% else %}-->
<!--    <p><a href="{% url 'users:signup' %}">Sign up</a> | <a href="{% url 'users:login' %}">Log in</a></p>-->
<!--{% endif %}-->

<!--{% if user.is_authenticated %} Привіт, {{ user.username }}! Вийти {% else %} Реєстрація Увійти {% endif %}-->
<!--{% if messages %}-->
<!--{% for message in messages %} {{ message }} {% endfor %}-->
<!--{% endif %} {% block content %} {% endblock %}-->

{% extends "quotes/base.html" %}

{% block content %}

<h2>Реєстрація</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Зареєструватися</button>
</form>

{% endblock %}